<app-home></app-home>
<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col s12">
      <div class="col s12 col_profile">
        <small>
          Em {{pergunta.dataPergunta | date: 'dd/MM/yyyy'}} às
          {{pergunta.dataPergunta | date: 'HH:mm'}},
          @{{pergunta.remetente.login}} perguntou:
      </small>
        <p>
          {{pergunta.descricao}}
        </p>
      </div>
      <form class="col s12">
        <div class="input-field">
          <textarea name="resp" id="resp" class="materialize-textarea" [(ngModel)]="pergunta.resposta" #resposta="ngModel"></textarea>
          <label for="resp">Resposta</label>
        </div>
        <div class="col s2">
          <button class="btn  waves-effect waves-light grey darken-3" style="width: 100%" 
            (click)="responder()">Enviar</button>
        </div>
        <div class="col s2">
          <button class="btn waves-effect waves-light grey lighten-3 grey-text text-darken-1" style="width: 100%" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>