<nav>
    <div class="nav-wrapper grey darken-3">
        <div class="container">
            <div class="brand-logo">pergunte.me</div>
            <ul class="right">
                <li>
                    <a href="/home/inbox">Inbox</a>
                </li>
                <li>
                    <a href="/profile">Meu perfil</a>
                </li>
                <li>
                    <a href="/pergunta">Minhas perguntas</a>
                </li>
                <li>
                    <a href="!#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>