<div class="container" style="margin-top: 20px;">
  <div class="row">
    <ul class="col s12 offset-s2 list_perguntas">
        <li class="item_pergunta" *ngFor="let p of perguntas">
        <small>
            Em {{p.dataPergunta | date: 'dd/MM/yyyy'}} às
            {{p.dataPergunta | date: 'HH:mm'}},
            {{p.remetente.nome}} perguntou:
        </small>
        <p>
          {{p.descricao}}
        </p>
        <div class="row" style="text-align : right">
          <div class="col s2">
            <button class="btn  waves-effect waves-light grey darken-3" style="width: 100%" 
              (click)="responder(p)">Responder</button>
          </div>
          <div class="col s2">
            <button class="btn waves-effect waves-light grey lighten-3 grey-text text-darken-1" style="width: 100%" (click)="ignorar(p._id)">Ignorar</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>